<table data-ng:if="hasGroups">
    <thead>
        <tr class="groupHeaderLine">
            <th data-ng:repeat="field in fields" class="{{field.field}}Label">
                {{field.label}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng:repeat="group in groups" class="groupBodyLine">
            <td data-ng:model="group.name" data-ng:repeat="field in fields" class="{{field.field}}Value">
                {{group[field.field]}}
            </td>
        </tr>
    </tbody>
</table>